.button {
  background-color: var(--my-pagenation-button-background-color);
  color: black;
  border: 1px solid white;
  border-radius: 2px;
  padding: 10px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin: 3px;
  --my-border-radius: 10px;
  --my-pagenation-button-border-color: gray;
  --my-pagenation-button-color: #ffffff;
  --my-pagenation-button-background-color: #e9f2ee;
  --my-pagenation-button-hover-color: #1dc078;
}

.button-right {
  border-top-right-radius: var(--my-border-radius);
  border-bottom-right-radius: var(--my-border-radius);
}

.button-left {
  border-top-left-radius: var(--my-border-radius);
  border-bottom-left-radius: var(--my-border-radius);
}

.button-create {
  background-color: var(--my-pagenation-button-color);
  color: black;
  border: 1px solid var(--my-pagenation-button-border-color);
  /* border-radius: 20px; */
  padding: 10px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pagenation {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;

  & :hover {
    color: var(--my-pagenation-button-color);
    background-color: var(--my-pagenation-button-hover-color);
  }

  .disabled {
    & :hover {
      color: var(--my-pagenation-button-border-color);
      background-color: rgb(231, 226, 226);
    }
    color: var(--my-pagenation-button-border-color);
    background-color: rgb(231, 226, 226);
  }
}

.currentPage {
  color: var(--my-pagenation-button-color);
  background-color: var(--my-pagenation-button-hover-color);
}
