.button {
  background-color: #09e0ef;
  color: black;
  border: 1px solid #080f1c;
  /* border-radius: 20px; */
  padding: 10px;
  font-weight: bold;
  width: 20px;
  height: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button-create {
  background-color: #09e0ef;
  color: black;
  border: 1px solid #080f1c;
  /* border-radius: 20px; */
  padding: 10px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pagenation {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  & :hover {
    background-color: #db3518;
  }

  .disabled {
    & :hover {
      background-color: gray;
    }
    background-color: gray;
  }
}

.currentPage {
  background-color: #db3518;
}
