body {
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
  height: 1000px;
}

/* WaveComponent CSS */
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/* tab 컨테이너 */
/* 스타일시트에 다음 CSS를 추가하세요. */
.tabs-container {
  width: 70%; /* 탭 컨테이너의 너비를 필요에 맞게 조정하세요. */
  padding: 20px;
  background-color: #ffffff00;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.tabs-container .ant-tabs-tab {
  background-color: #f0f2f500;
  border-radius: 8px 8px 0 0;
  margin-right: 4px;
}

.tabs-container .ant-tabs-tab-active {
  background-color: #ffffff00;
}

/* 탭 옆에 사각형(또는 다른 모양) 스타일링 */
.tabs-container::before {
  content: '';
  display: block;
  position: absolute;
  top: 30px; /* 모양의 위치를 필요에 맞게 조정하세요. */
  left: -10px; /* 모양의 위치를 필요에 맞게 조정하세요. */
  width: 20px; /* 모양의 크기를 필요에 맞게 조정하세요. */
  height: 60px; /* 모양의 크기를 필요에 맞게 조정하세요. */
  background-color: rgba(
    240,
    242,
    245,
    0
  ); /* 모양의 색상을 필요에 맞게 조정하세요. */
  border-radius: 0 8px 8px 0; /* 모양의 테두리 반경을 필요에 맞게 조정하세요. */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* 모양에 그림자 추가 */
}

.temp_detail {
  width: 1000px;
}

.temp_detail1 {
  display: flex;
  margin: 10px;
  justify-content: center;
  margin: 10px;
}

.temp_detail1_text {
  margin-right: 10px;
  margin: 10px;
}

.temp_detail2 {
  border: 1px solid;
  border-radius: 20px;
  width: 700px;
  height: 100%px;
  text-align: center;
  margin: 30px;
  background-color: #fff;
}

.temp_detail3 {
  border: 1px solid;
  border-radius: 20px;
  width: 500px;
  height: 100%;
  text-align: center;
  /* margin-right: 10px; */
  margin-left: 30px;
  background-color: #fff;
}

.temp_detail3_1 {
  display: flex;
  margin-top: 25px;
  width: 100%;
}

.temp_mini {
  display: flex;
  width: 100%;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  text-align: right;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.t_mem_text {
  display: flex;
}

.temp_detail4 {
  border: 1px solid;
  border-radius: 20px;
  width: 220px;
  height: 100%;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #fff;
}

.temp_detail4_1 {
  display: flex;
  justify-content: center;
}

/* profile */
.profile_box1 {
  border: 3px solid #6181f1;
  border-radius: 15px;
  width: 300px;
  height: 40px;
  text-align: center;
  margin: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_bigbox2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  /* margin: 0px; */
}

.profile_bigbox {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  width: 50%;
}

.f_big_bix {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.profile_text {
  /* display: flex; */
  width: 70px;
  margin-top: 50px;
  text-align: right;
}

.profile_select {
  border: 3px solid #6181f1;
  border-radius: 10px;
  width: 300px !important;
  height: 40px;
  margin: 0;
}

/* .circular-image {
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  overflow: hidden; 
  border: 3px solid #c2bfbf;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* ... 이전 CSS 스타일들 ... */

.circular-image {
  position: absolute;
  top: 0%; /* 이미지를 수직 중앙으로 정렬하려면 50%로 설정 */
  left: 50%; /* 이미지를 수평 중앙으로 정렬하려면 50%로 설정 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위해 translate를 사용 */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #c2bfbf;
  z-index: 1; /* 이미지가 다른 요소 위에 나타나도록 설정 */
  background-color: white;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_head {
  margin: 0px;
}

.star {
  text-align: center;
  /* width: 700px; */
}

/* edit */

.edit_text {
  display: flex;
  flex-direction: column;
  width: 70px;
  /* margin-top: 20px; */
  text-align: right;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.edit_text2 {
  display: flex;
  flex-direction: column;
  width: 70px;
  margin-top: 1px;
  text-align: right;
}
.edit_box {
  display: flex;
}

.edit_select {
  border: 3px solid #6181f1;
  border-radius: 10px;
  width: 130px !important;
  /* height: 40px; */
  margin-right: 10px;
  margin-left: 30px;
}

.edit_select2 {
  border: 3px solid #6181f1;
  border-radius: 10px;
  width: 230px !important;
  height: 40px;
  /* margin-right: 10px;
  margin-left: 10px; */
}

.edit_box1 {
  border: 3px solid #6181f1;
  border-radius: 15px;
  width: 300px;
  height: 40px;
  text-align: center;
  margin: 20px;
  margin-bottom: 0px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_mini {
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 150px 60%;
  grid-template-rows: 70px 70px 70px 70px 70px;
}
