.star-ratings {
    color: #f8f8f8; 
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
    font-size: 30px;
  }

  .star {
    border: solid 1px black;
}
   
  .star-ratings-fill {
    color: #f5f50d;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: rgb(248, 234, 109);
  }
   
  .star-ratings-base {
    z-index: 0;
    padding: 0;
  }