
.star-ratings {
  color: #f8f8f8;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
  font-size: 30px;
  --my-star-color : yellow;
}

.star {
  border: solid 1px black;
}

.star-ratings-fill {
  color: var(--my-star-color);
  padding: 0;
  position: absolute;
  z-index: 0;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: var(--my-star-color);
}

.star-ratings-base {
  z-index: -1;
  padding: 0;
}
